body{
	background-color: #323232;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
}

.tblHeader{
	background-color: #ff8c00;
	color: black;
	font-family: inherit;
	font-size: 11px;
	font-weight: bold;
	padding: 2px;
	border-bottom: 2px solid White;
}

.tblContent{
	background-color: #1a1a1a;
	color: White;
	font-family: sans-serif;
	font-size: 11px;
	padding: 2px;
	border-bottom: 1px solid #000;
}

.banner{
	background-color: #ff8c00;
	color: black;
	padding: 10px;
	font-family: inherit;
	font-size: 24px;
	text-align: Left;
	border-bottom: 2px solid white;
}

.banner-bg{
	background-color: #ff8c00;
	color: black;
	padding: 10px;
	font-family: inherit;
	font-size: 24px;
	text-align: Left;
}

.menu{
	background-color: #1a1a1a;
	color: white;
	font-family: inherit;
	font-size: 11px;
	padding: 2px;
	text-align: Left;
}